<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="{% url 'home' %}">Bank Project</a>
</div>
<ul class="nav navbar-nav">
  <li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
  <li class="{% if request.resolver_match.url_name == "contact" %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
  <li><a href="#">Page 2</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  {% if request.user.is_authenticated %}
  <li><a {% if request.user.is_superuser %} href="/admin" {% else %} href="#" {% endif %}><span class="glyphicon glyphicon-user"></span>  {{ request.user.username | capfirst }}</a></li>
  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  {% else %}
  <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-plus"></span> SigUp</a></li>
  <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  {% endif %}
</ul>
</div>
</nav>
